body {
  padding: 10px;
  font: 14px Helvetica, Arial, sans-serif;
  color: #1A5276; }

i {
  font-size: 12px;
  color: #873768; }

a {
  color: #00B7FF; }

table {
  margin: 0px; }

th, td {
  padding: 5px; }

th {
  background: #A9CCE3; }

tr:nth-child(odd) {
  background: #EAF2F8; }

td a {
  color: #1A5276;
  text-decoration: underline; }
